<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Adam Pash">

  <title>Adam Pash</title>
  <style>
    .links,.dek{opacity:0;}
    .dek{transition: opacity .6s;}
  </style>


</head>

<body style="background: #1e252b;">
  <div class="dek">
    I'm Adam Pash, a
    <a href="https://github.com/adampash/" target="_blank">
      <span class="highlight">developer</span>
    </a>
    and
    <a href="http://lifehacker.com" target="_blank">
      <span class="highlight">writer.</span>
    </a>
    I was formerly the editor-in-chief of
    <a href="http://lifehacker.com" target="_blank">
      <span class="highlight">Lifehacker,</span>
    </a>
    but I've also written
    <a href="http://www.amazon.com/Adam-Pash/e/B001JRYOY6/" target="_blank">
      <span class="highlight">a few books</span>
    </a>
    and for a number of other publications
    <span class="highlight">(</span><a href="http://www.wired.com/" target="_blank"><span class="highlight">Wired,</span>
    </a>
    <a href="http://www.popsci.com/" target="_blank">
      <span class="highlight">Popular Science,</span>
    </a>
    <a href="http://www.pcworld.com/" target="_blank">
      <span class="highlight">PC World</span></a>).
    Above all else, I love making things. I'm currently building things with code
    at
    <a href="http://gawkermedia.com" target="_blank">
      <span class="highlight">Gawker Media,</span>
    </a>
    focusing on tools that streamline and augment the editorial process.
    In my spare time, I make things like
    <a href="https://andtheniwaslike.co" target="_blank">
      <span class="highlight">this</span>
    </a>
    for fun.
  </div>
  <ul class="links highlight">
    <li>
      <a href="mailto:adam.pash@gmail.com" target="_blank">adam.pash@gmail.com</a>
    </li>
    <li>
      twitter: <a href="https://twitter.com/adampash" target="_blank">@adampash</a>
    </li>
    <li>
      <a href="https://github.com/adampash/" target="_blank">github.com/adampash</a>
    </li>
  </ul>

  <noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
  </noscript>

  <%= if Mix.env == :dev do %>
    <script src='http://localhost:4001/js/index.bundle.js'></script>
  <% end %>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var init = function() {
      loadDeferredStyles()
      var dek = document.getElementsByClassName('dek')[0]
      if (dek) dek.setAttribute('style', 'opacity: 1;')
      var clearSelection = function() {
        if(document.selection && document.selection.empty) {
          document.selection.empty()
        } else if(window.getSelection) {
          var sel = window.getSelection()
          sel.removeAllRanges()
        }
      }

      setTimeout(function () {
        var dek = document.getElementsByClassName('dek')[0]
        if (dek) dek.setAttribute('style', 'opacity: 1; background: inherit;')

        var links = document.getElementsByClassName('links')[0]
        if (links) links.setAttribute('style', 'opacity: 1; bottom: 50px;')
      }, 1300)
    }
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(init, 0); });
    else window.addEventListener('load', init);
  </script>
  <script src="https://use.typekit.net/mtz6tca.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
